* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    align-items: center;
    background-color: #684619;
    flex-direction: column;
}

.main h1 {
    color: green;
    margin-top: 25px;
}

.main p {
    margin: 15px;
}

.btns {
    display: flex;
    flex-direction: row;
    cursor:pointer;
}

.main a {
    background-color: orange;
    border: 1px orange solid;
    border-radius: 50px;
    transition: all 0.1s ease-out;
    color: blue;
    padding: 15px;
    margin: 15px;
    text-decoration: none;
}

.reg {
    background-color: orange;
    border: 1px orange solid;
    border-radius: 50px;
    transition: all 0.1s ease-out;
    color: blue;
    padding: 15px;
    margin: 15px;
    text-decoration: none;
}

.main a:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 15px 2px black;
}

.reg:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 15px 2px black;
}

.speaker-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 134, 134);
    align-items: center;
    align-content: center;
}

.spkrs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.spkr {
    background-color: grey;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px 2px black;
    padding: 25px;
}

.spkr img {
    border-radius: 50px;
    width: 200px;
}
.text{
    text-align: center;
    font-weight: 600;
}
.schedule-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}

table {
    border: 2px lightblue solid;
    margin: 15px;
}

.registration-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.footer {
    display: flex;
    flex-direction: column;
    border-bottom: 20px;
    background-color: antiquewhite;
}
.main-footer{
    display: flex;
    justify-content: center;
}
.foot{
    font-weight: 500;
}
.foot a:link, a:active{
    text-transform: none;
    color: burlywood;
    background-color: black;
}