.main {
    display: flex;
    align-items: center;
    background-image: url();
    flex-direction: row;
}

.main h1 {
    font-size: large;
}

.main a {
    /* width: auto;
    height: auto; */
    background-color: orange;
    border: 1px orange solid;
    border-radius: 50px;
    transition: all 2s ease-out;
    color: blue;
}

.main a:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 2px 2px black;
}

.speaker-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-color: darkgrey; */
}

.spkr {
    background-color: grey;
}

